/* Estilização do cabeçalho*/
.header{
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    border-bottom: var(--brand-Color-2) solid 0.19rem;
}

.header__title{
    font-weight: 600;
    font-size:2.5rem;
}

.header__title span{
    color: var( --brand-Color-1);
}

.header img {
    width: 1.56rem;
    height: 1.25rem;
    border-radius: 0.31rem;
    padding: 0 0.31rem;
}